{{#> layouts/base }}

    {{#*inline "content-block"}}

        <div class="container">
            <div class="card col-12">
                <div class="card-header">
                    Übesicht

                    <a href="/payment" class="btn btn-outline-light float-end m-1"><i class="fa fa-arrow-left"></i></a>
                </div>

                <form method="get">

                    <div class="row" style="padding-left: 2%">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <label for="inputTime1">Start</label>
                                <input type="date" class="form-control" id="inputTime1" placeholder="" name="start" value="{{start}}" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <label for="inputTime2">Ende</label>
                                <input type="date" class="form-control" id="inputTime2" placeholder="" name="stop" value="{{stop}}" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mt-4">Suchen</button>
                            </div>
                        </div>
                    </div>

                </form>

                <hr>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Fraktion</th>
                            <th scope="col">Rang</th>
                            <th scope="col">Ausbildergehalt</th>
                            <th scope="col">Aktionsgehalt</th>
                            <th scope="col">Gehalt</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{#each users}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.Faction.name}}</td>
                                <td>{{this.Role.name}}</td>
                                <td>{{money this.instructorMoney}}</td>
                                <td>{{money this.operationMoney}}</td>
                                <td>{{money this.totalMoney}}</td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {{/inline}}

{{/layouts/base}}
