{{#> layouts/base }}

    {{#*inline "content-block"}}

        <div class="container">
            <div class="card col-12">
                <div class="card-header">
                    Auszahlung


                    <a href="/operations/stats" class="btn btn-outline-light float-end m-1"><i class="fa fa-clock"></i></a>
                    {{#ifGte account.Role.permissionLevel 4}}
                        <a href="/operations/manage" class="btn btn-outline-primary float-end m-1"><i class="fa fa-list"></i></a>
                    {{/ifGte}}
                </div>

                <hr>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Fraktion</th>
                            <th scope="col">Rang</th>
                            <th scope="col">Ausbildergehalt</th>
                            <th scope="col">Aktionsgehalt</th>
                            <th scope="col">Gehalt</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{#each users}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.Faction.name}}</td>
                                <td>{{this.Role.name}}</td>
                                <td>{{money this.instructorMoney}}</td>
                                <td>{{money this.operationMoney}}</td>
                                <td>{{money this.totalMoney}}</td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {{/inline}}

{{/layouts/base}}
