<!DOCTYPE html>
<html>
    <head>
        <title>{{ env.GANG_NAME }} | {{ title }}</title>
        {{{ style 'style' }}}
        {{{ style 'bootstrap.min' }}}

        {{{ script 'bootstrap.min' }}}
        {{{ script 'popper.min' }}}
        {{{ script 'jquery.min' }}}
        {{{ script 'fontawesome-all.min' }}}

        {{#> head-block}}
        {{/head-block}}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">{{ env.GANG_NAME }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{#if isAuthenticated}}
                            <li class="nav-item">
                                <a class="nav-link {{ternary (eq '/' req.originalUrl) 'active' '' }}" aria-current="page" href="/">Home</a>
                            </li>
                            {{#ifGte (getGivenUserRank account.id) 0}}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ternary (isRouteActive '/payment' req.originalUrl) 'active' '' }} {{ternary (isRouteActive '/operations' req.originalUrl) 'active' '' }}" href="#" id="navbarOperations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Aktionstracker
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarOperations">
                                    <a class="dropdown-item {{ternary (isRouteActive '/operations' req.originalUrl) 'active' '' }}" href="/operations">
                                        <i class="fas fa-list"></i> Aktionen
                                    </a>
                                    <a class="dropdown-item {{ternary (isRouteActive '/payment' req.originalUrl) 'active' '' }}" href="/payment">
                                        <i class="fas fa-list"></i> Auszahlung
                                    </a>
                                </div>
                            </li>
                            {{/ifGte}}

                            {{#ifGte (getGivenUserRank account.id) 4}}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ternary (isRouteActive '/leader' req.originalUrl) 'active' '' }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Leader
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {{ternary (isRouteActive '/leader/users' req.originalUrl) 'active' '' }}" href="/leader/users">
                                        <i class="fas fa-list"></i> Benutzerverwaltung
                                    </a>
                                    <a class="dropdown-item {{ternary (isRouteActive '/leader/roles' req.originalUrl) 'active' '' }}" href="/leader/roles">
                                        <i class="fas fa-list"></i> Rollenverwaltung
                                    </a>
                                    <a class="dropdown-item {{ternary (isRouteActive '/leader/operationTypes' req.originalUrl) 'active' '' }}" href="/leader/operationTypes">
                                        <i class="fas fa-list"></i> Aktionsverwaltung
                                    </a>
                                </div>
                            </li>
                            {{/ifGte}}

                        {{/if}}
                    </ul>
                    <ul class="navbar-nav">
                        {{#if isUnauthenticated}}
                            <li class="nav-item">
                                <a class="nav-link {{ternary (isRouteActive '/login' req.originalUrl) 'active' '' }}" href="/login">Anmelden</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ternary (isRouteActive '/register' req.originalUrl) 'active' '' }}" href="/register">Registrieren</a>
                            </li>
                        {{/if}}
                        {{#if isAuthenticated}}
                            <li class="nav-item">
                                <a class="nav-link {{ternary (isRouteActive '/profile' req.originalUrl) 'active' '' }}" href="/profile">{{account.name}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Abmelden</a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>

        <br>


        <div class="container">
            {{#if message.error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{{ message.error }}}
                </div>
            {{/if}}

            {{#if message.success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{{ message.success }}}
                </div>
            {{/if}}

            {{#if message.info}}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{{ message.info }}}
                </div>
            {{/if}}
        </div>

        {{#> content-block}}
        {{!-- Content goes here. --}}
        {{/content-block}}
    </body>
</html>
